<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Services -->

    <bean id="productService"
          class="com.javaguru.shoppinglist.service.ProductService">
        <constructor-arg ref="productInMemoryRepository"/>
        <constructor-arg ref="productValidationService"/>
    </bean>

    <!-- Database -->

    <bean id="productInMemoryRepository"
          class="com.javaguru.shoppinglist.repository.ProductInMemoryRepository">
    </bean>

    <!-- Validations -->

    <bean id="productValidationService"
          class="com.javaguru.shoppinglist.service.validation.ProductValidationService">
        <constructor-arg>
            <list value-type="java.util.Set">
                <ref bean="productNameValidationRule"/>
                <ref bean="productPriceValidationRule"/>
                <ref bean="productDiscountValidationRule"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="productNameValidationRule"
          class="com.javaguru.shoppinglist.service.validation.ProductNameValidationRule">
        <constructor-arg ref="productInMemoryRepository"/>
    </bean>

    <bean id="productPriceValidationRule"
          class="com.javaguru.shoppinglist.service.validation.ProductPriceValidationRule">
    </bean>

    <bean id="productDiscountValidationRule"
          class="com.javaguru.shoppinglist.service.validation.ProductDiscountValidationRule">
    </bean>
</beans>